<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home 화면</title>
</head>
<script src="/js/jquery-3.7.1.min.js"></script>
<body>
<div>
    {{#login_user}}
    <p>환영합니다, {{nickname}}님!</p>
    <a href="/users/change-password">비밀번호 변경하기</a><br>
    <button onclick="deleteUser({{id}})">계정 탈퇴</button>
    <a href="/logout">로그아웃</a>
    {{/login_user}}

    {{^isAuthenticated}}
    <a href="/login">로그인</a><br>
    <a href="/sign-up">회원가입</a><br>
    <a href="/users/login-id">아이디 찾기</a><br>
    <a href="/users/reset-password">비밀번호 찾기</a>
    {{/isAuthenticated}}
</div>

<div id="map" style="width:100%;height:500px;"></div>
</body>
<!--<script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=d5daed30ac0e5f0b0b1e8768394abff9"></script>-->
<!--<script>-->
<!--    var mapContainer = document.getElementById('map'), // 지도를 표시할 div-->
<!--        mapOption = {-->
<!--            center: new kakao.maps.LatLng(37.5665, 126.9780), // 서울-->
<!--            level: 7 // 지도의 확대 레벨-->
<!--        };-->

<!--    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다-->
<!--    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다.-->
<!--</script>-->
<script>
// 계정 탈퇴 (비활성화)
function deleteUser(id) {
    if (confirm("정말 계정을 탈퇴하시겠습니까?")) {
        $.ajax({
            url: `/api/users/${id}`,  // 사용자 탈퇴 요청 URL
            type: 'DELETE',
        }).done(function (data, status, xhr){
            if (status === "success") {
                // 성공 후 세션 무효화 및 로그아웃 처리
                $.ajax({
                    url: "/logout",  // Spring Security 로그아웃 URL
                    type: "POST",  // 로그아웃 요청
                    success: function() {
                        alert("계정이 탈퇴되었습니다.");
                        location.href = "/";  // 홈 화면으로 리다이렉트
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error("Logout failed: " + textStatus + ", " + errorThrown);
                    }
                });
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.error("Request failed: " + textStatus + ", " + errorThrown);
        });
    } else {
        console.log('계정 탈퇴가 취소되었습니다.');
    }
}
</script>
</html>